.myPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
}

.myPost__input {
  background: bisque;
}

.myPost__btn {
  width: 120px;
  height: 30px;
  margin: 15px auto;
  color: #0c0101;
  background: bisque;
}

.myPost__header {
  color: #850202;
}

span {
  color: #211e1e;
}