.nav {
  grid-area: n;
  background: linear-gradient(to top, bisque, #03557a);
  display: flex;

}

.item {
  width: 100px;
  padding: 5px;
  margin: 5px auto;
  border-bottom: 1px solid bisque;

}
.item:hover{
  border-left: 1px solid gold;
  border-bottom: 1px solid gold;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: black;

}

.item a.active {
  color: gold;
}