.profile__content {
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 400px;
}

.profile__logo {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.profile__des {
  padding: 10px;
  font-weight: 500;
  font-size: 22px;
}
