.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    " h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  background: #f1dcdc;
  width: 1000px;
  min-height: 100vh;

}

.header {
  grid-area: h;
  background-color: #2bd72b;
}

.nav {
  grid-area: n;
  background-color: #bd9de2;
}

.content {
  grid-area: c;
  background-color: #0f2fd0;
}

.logo {
  width: 220px;
}
